{% extends './base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Senarai Ayam</h1>
    <br />
    <button type="button" class="btn btn-warning"><a href="{% url 'crm:chicken_add' %}" class="link-dark link-underline-opacity-0">Tambah rekod baru</a></button>
    <br /><br />
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tarikh Ditambah</th>
            <th scope="col" class="text-center">Umur (Minggu)</th>
            <th scope="col">Tujuan</th>
          </tr>
        </thead>
        <tbody>
            {% if chicken_list %}
            {% for chicken in chicken_list %}
            <tr>
                <td><a href="{% url 'crm:chicken_detail' chicken.id %}">{{ forloop.counter }}</a></td>
                <td>{{ chicken.date_added }}</td>
                <td class="text-center">{{ chicken.age }}</td>
                <td>{{ chicken.get_purpose_display }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" class="text-center">Tiada rekod</td>
            </tr>
            {% endif %}
        </tbody>
      </table>
</div>
{% endblock %}