{% extends './base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
  <h1>Maklumat ayam</h1>
  <br />
  {% if chicken %}
  <table class="table">

      <tr>
        <th scope="col">Tarikh Ditambah</th>
        <td class="text-center">{{ chicken.date_added }}</td>
      </tr>
      <tr>
        <th scope="col">Umur (Minggu)</th>
        <td class="text-center">{{ chicken.age }}</td>
      </tr>
      <th scope="col">Status Kesihatan</th>
      <td class="text-center">{{ chicken.get_health_status_display }}</td>
      </tr>
      <tr>
        <th scope="col">Tujuan</th>
        <td class="text-center">{{ chicken.get_purpose_display }}</td>
      </tr>

  </table>
  <br />
  <button type="button" class="btn btn-warning"><a href="{% url 'crm:chicken_update' chicken.id %}"
      class="link-dark link-underline-opacity-0">Kemaskini Rekod</a></button>
  <button type="button" class="btn btn-danger"><a href="{% url 'crm:chicken_delete' chicken.id %}"
      class="link-light link-underline-opacity-0">Padam Rekod</a></button>
  {% endif %}
</div>
{% endblock %}